$base: #bbbbbb;
$blanco: white;

html{
    font-size: 16px;
}


.tSlow{
    transition-duration: 1s;
    width: 90%;
    height: 90%;

}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $blanco;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

.footer{
    background-image: url(../images/bg.jpg);
    background-clip: $blanco;
    background-blend-mode: darken;
    color: #bbbbbb;
    border-radius: 5px;
    padding: 5% 0 10% 0;
    width: 100%;
    h1 {
        font-weight: bolder;
        font-size:larger;
        text-align: center;
        color: $blanco;
        padding-bottom: 25px;;
        a{
            color: $base;
            text-decoration:  none;
            @extend .tSlow;
        }
    }
    .brand{
        
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            }
        :hover{
            @extend .tSlow;
        }
        
    }
    .etiqueta {
        text-align: center;
        margin: 30px auto;
        font-size: small ;
    }
    .rrss{
        text-align: center;
        width:100%;
        height: auto;
        margin: 0 auto;
        img{
            width: 10%;
            height: auto;
            padding-right: 10px;
            
        }
    }
    .col {
        margin: 0 auto;
        li{
            margin-bottom: 1em;
            margin-left:25%;
            list-style-type: square;

        }
        a{
            color: $base;
            text-decoration: none;
            font-weight: 700;           
        }
        
        
    }
    .email{
        width: 80%;
    }


}